@{
    ViewData["Title"] = "Cadastrar";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    <p>Utilize o formulário para cadastrar uma loja ou kiosque</p>

    <form action="Cadastrar" method="post">
        <p>
            <label for="id">Id: </label>
            <input type="text" name="id" id="id">
        </p>
         <p>
           <label for="categoria">Categoria:</label>
            <select name="categoria" id="categoria">
                <option value="loja">Loja</option>
                <option value="kiosque">Kiosque</option>
            </select>
        </p>
        <p>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </p>
        <p>
            <label for="descricao">Descrição</label>
            <textarea id="descricao" name="descricao" placeholder="Faça uma breve descrição da loja/kiosque"></textarea>
        </p>
         <p>
            <label for="piso">Piso:</label>
            <select name="piso" id="piso">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </p>
         <p>
            <label for="email">Email: </label>
            <input type="email" name="email" id="email">
        </p>

        <button type="submit" id="cadastrar">Cadastrar</button>
    </form>
</div>